<div class="container">
    <div class="left-bar">
        <div class="title">Componenti:</div>
        <ul>
            <li *ngFor="let user of users" (mouseover)="changeState(user)" (mouseleave)="changeState(user)" [@Breathing]="user.state ? 'hover' : 'not-hover'">{{user.name}}</li>
        </ul>
        <div class="divisor"></div>
        <div class="text">“Coltiviamo un futuro rigoglioso, investendo oggi nello sviluppo sostenibile per un mondo in cui prosperità e rispetto per l'ambiente si intrecciano armoniosamente.”</div>
    </div>
</div>
