.container {
  z-index: 50;
  position: relative;
  height: calc(96% - 80px);
  width: 100%;
  margin-top: 2%;
  text-align: center;

  .title {
    font-size: 2.2rem;
    font-weight: 700;
    font-family: Roobert,sans-serif;
    padding: 10px;
  }

  .description-container {
    .text {
      max-width: 700px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 2%;
      font-size: 1.4rem;
      font-weight: 400;
      font-family: Roobert,sans-serif;
    }

    ul {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      justify-content: space-between;
      max-width: 750px;
      margin-top: 5%;

      li {
        padding: 10px;
        display: inline;
        justify-content: space-between;

        img {
          width: 100px;
          height: auto;
        }

        img:hover {
          animation: focus .3s forwards;
        } 
      }

      li:last-child {
        position: relative;

         img {
          position: relative;
          top: 50%;
          transform: translateY(-25%);
         }
      }
      
    }
  }
}

.clickable {
  cursor: pointer;
}

@keyframes focus {
  to {
    transform: scale(1.5);
  }
}