<div class="main-background">
    <div class="inner-container">
        <div class="title">Fonti</div>
        <div class="text">Quì ci sono tutte le fonti da cui abbiamo preso le informazioni all'interno del sito</div>
    </div>
</div> 


<div class="main-container">
    <ul>
        <li><a href="https://www.enelgreenpower.com/it">Enel Green Power</a></li>
        <li><a href="https://sdgs.un.org/">Division for Sustainable Development Goals</a></li>
        <li><a href="https://www.federalreservehistory.org/essays/oil-shock-of-1973-74">Federal Reserve History</a></li>
        <li><a href="https://www.investopedia.com/1973-energy-crisis-definition-5222090">Investopedia</a></li>
        <li><a href="https://www.history.com/topics/natural-disasters-and-environment/water-and-air-pollution">History</a></li>
        <li><a href="https://greenly.earth/en-us/blog/ecology-news/what-was-the-industrial-revolutions-environmental-impact">Greenly</a></li>
        <li><a href="https://www.thecollector.com/environmental-impact-industrial-revolution-pollution/">The Collector</a></li>
        <li><a href="https://direct.mit.edu/glep/article/21/3/197/106746/The-Contamination-of-the-Earth-A-History-of">MIT Press Direct</a></li>
    </ul>
</div>