
.flex-container {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: rgb(5, 15, 41);
  height: 80px;
  -webkit-box-shadow: 0px 3px 31px 6px rgba(0,0,0,0.52);
  box-shadow: 0px 3px 31px 6px rgba(0,0,0,0.52);
  color: white;
  vertical-align: middle;

  .logo {
    position: absolute;
    top: 0;
    left: 1%;
    order: -1;
    top: 50%;
    transform: translateY(-50%);

    img {
      height: 60px;
      width: auto;
      border-radius: 80px;
    }
  }

  .flex-item {
    position: relative;
    align-content: space-around;
    font-size: 18px;
    top: 25%;
    padding: 5px 15px;

  }

  .clickable {
    cursor: pointer;
  }

  .flex-item.fa.fa-bars {
    position: absolute;
    right: 2%;
    top: 23%;
    order: 100;
    font-size: 30px;
  }

  .separator.flex-item {
    height: 35px;
    width: 1.5px !important;
    background-color: rgb(255, 255, 255);
    padding: 0;
    border: none;
  }
}

.settings {
  position: absolute;
  right: 0;
  transform: translateX(-100%);
  background-color: rgb(5, 15, 41);
  height: fit-content;
  padding: 20px;
  color: white;
}

.settings .title {
  font-size: 20px;
  text-align: center;
}

.settings .text {
  font-size: 17px;
  white-space: nowrap;
}

.settings .text i {
  font-style: normal;
  color: rgb(159, 159, 230);
  cursor: pointer;
}
