<div class="flex-container">
  <div class="logo clickable" (click)="routing.toHome()"><img src="../../assets/img/logo.jpg" alt="Logo"></div>
  <div class="flex-item clickable" (click)="showHideChiSiamo()"><p>Chi siamo</p></div>
  <div class="separator flex-item" style="width: 2px !important;"></div>
  <div class="flex-item clickable" (click)="this.routing.toAgenda2030()"><p>Agenda 2030</p></div>
  <div class="separator flex-item" style="width: 2px !important;"></div>
  <div class="flex-item clickable" (click)="routing.toSources()"><p>Fonti</p></div>
  <i class="fa fa-bars flex-item clickable" (click)="showHideSettings()"></i>
</div>
<div class="settings" [@ParsingSettings]="settings ? 'aperto' : 'chiuso'">
  <div class="title">Impostazioni</div>
  <div class="text">
    Per il codice sorgente<br>clicca: <i (click)="routing.toGit()">quì</i>
  </div>
</div>
<div class="chi-siamo" [@chiSiamoAnim] = "chiSiamoShow ? 'aperto' : 'chiuso'">
  <app-chi-siamo></app-chi-siamo>
</div>


