/* You can add global styles to this file, and also import other style files */
:root {
  --standard-background: #eaeaea;
  --color-1: #386641;
  --color-2: #6A994E;
  --color-3: #A7C957;
  --color-4: #BC4749;
  --dark-color: #1e1e1e;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

body {
  background-color: var(--standard-background);
}
