<div class="first-container">
  <div class="title">Sviluppo sostenibile</div>
  <div class="text">Il nostro pianeta soffre, è uno solo eppure lo usiamo come se ne esistessero tre. Lo sfruttiamo fino all'ultima risorsa, lo inquiniamo e deturpiamo per i nostri desideri senza considerarne la salute. Da oggi in poi lo sviluppo sostenibile deve essere un coccetto rispettato e alla portata di tutti</div>
</div>

<div class="topic-1">
  <div class="title">La rivoluzione industriale</div>
  <div class="text">
    La rivoluzione industriale è stata epoca di progresso sia da un punto di vista di diritti, che di ricchezza economica.
  Questo periodo vide l’uso di motori a vapore alimentati a carbone in numerosi ambienti, come le industrie, l’infrastruttura, ma anche nelle case.
  Nuove tecnologie espansero il commercio internazionale oltre ogni orizzonte. Fu inoltre scoperto che il carbone è più economico e molto più efficiente del legno come combustibile.
  Sebbene l’industrializzazione portò molteplici benefici all’economia mondiale, purtroppo questi cambiamenti furono guidati da una sola fonte di energia altamente inquinante: il carbone.
  In Gran Bretagna difatti, nei decenni precedenti alle leggi sull’aria pulita, le emissioni di smog erano fino a 50 volte più elevate di quanto lo siano oggi. 
  Già nel 1850 infatti, una maggiore intensità di carbone era associata a tassi di mortalità più elevati per malattie respiratorie, soprattutto tra gli anziani e i giovanissimi. Un aumento di appena l’1% nell’intensità del carbone ha aumentato la morte dei bambini di uno su 100 nascite. L’effetto dell’inquinamento in India e Cina oggi è paragonabile a quello delle città industriali britanniche alla fine del XI secolo.
  Altro problema del periodo fu l’inquinamento dell’acqua, difatti era comune per le industrie gettare rifiuti e scarti nei fiumi, rendendo l’accesso all’acqua pulita sempre più difficile e facilitando l’arrivo di epidemie, tra cui principalmente la colera, la quale portò alla morte di decine di migliaia di persone. 
  La fonte di energia principale della seconda rivoluzione industriale fu invece il petrolio, anche esso come il carbone fu la fondazione dell’economia moderna sempre però a discapito dell’ambiente.
  Difatti l’estrazione del petrolio non regolata portò ad un incremento dell’inquinamento e l’esaurimento della risorsa, ciò evidenziò particolarmente l’importanza di utilizzare pratiche più sostenibili.
  </div>
</div>

<div class="topic-2">
  <div class="title">Crisi Petrolifera del 1973</div>
  <div class="inner-container flx">
    <div class="text" [@parseFromRight] = 'state1' scroll>
      Il momento che ha più segnato le problematiche legate ai carburanti fossili è stata senza dubbio la crisi petrolifera del 1973, dove i maggiori produttori di petrolio arabi dichiararono un embargo verso gli Stati Uniti, ciò era dovuto dal loro supporto per l’Israele durante la quarta guerra tra Israele e i paesi arabi.
      Questo disastro diplomatico fece incrementare i prezzi del petrolio addirittura del 300%, dovuto dalla difficile reperibilità della risorsa stessa, essendo che il petrolio è usato in innumerevoli contesti, è chiaro che l’aumento dei prezzi fu anche la causa di un abbassamento della produttività mondiale e quindi a sua volta un crollo economico globale.
      Gli eventi sopra citati dimostrano che il petrolio non è sostenibile, non solo per il suo impatto ambientale, ma anche per il fatto che essendo una risorsa limitata, il suo esaurimento porterà inevitabilmente a una crisi economica mai vista prima e quindi il possibile inizio di conflitti mondiali.
      E’ ovvio quindi che bisogna cercare fonti di energia alternative e sostenibili per evitare che ciò accada.
    </div>
    <img src="../../assets/img/topic-img-1.jpg" alt="Prezzo del carburante">
  </div>

  <div class="topic-3">
    <div class="title">Le fonti energertiche</div>
    <div class="text">
      “Le fonti energetiche sono le sorgenti di energia a disposizione, e in quanto tali possono essere utilizzate
      per eseguire un lavoro e/o produrre calore”
      Gran parte dell’energia proviene in maniera diretta e non dal sole, come l’energia solare, che permette di
      convertire direttamente (grazie ai pannelli al silicio) i raggi solari in energia, senza dover ricorrere alla
      trasformazione in “lavoro” o alla combustione come avviene per le risorse fossile (carbone, idrati, gas,
      petrolio…) le quali, grazie ai raggi solari assorbiti dalla superfice terrestre, le piante e resti fossili (cioè
      biomasse) riescono a degradarsi al di sotto del terreno diventando risorse fossili, ma è un processo che
      richiede milioni di anni, oltre ad essere fortemente inquinante.
      Ancora prima di parlare delle fonti energetiche e meglio fare una distinzione dell’energia, tra rinnovabili e
      non rinnovabili (o limitate).
      L’energia rinnovabile (eolico, solare, idro elettrico, geotermico…) sono fonti che permettono il riutilizzo
      della medesima fonte, poiché la sua provenienza è “inesauribile”.
      L’energia non rinnovabile (carbone, uranio, petrolio…) sono fonti ad un potenziale maggiore di energia, ma
      sono presenti in quantità limitata…
      Ma il carbone è rinnovabile…
      Tuttavia, i termini rinnovabile e non rinnovabile sono sbagliati, poiché entrambi sono rinnovabili ma, le fonti non rinnovabili sono tali perché il
      tempo d’attesa per il consumo della medesima risorsa è molto più esteso della rinnovabile, che a volte
      neanche viene consumata ma è la risorsa stessa a generare energia e noi a sfruttarla.
    </div>
  </div>

  <div class="topic">
    <div class="title">
      Fonti rinnovabili
    </div>
    <ul>
      <li>
        <div class="title">
          Energia solare:
        </div>
        <div class="inner-container flx">
          <div class="text">
            L’energia solare viene provocata dal sole stesso, che oltre a far luce emette calore.
            Esistono tre tipi di impianti, il fotovoltaico che trasformano i raggi solari in energia, ma essendo soggetti
            all’orario e ad un certo clima, non sono sempre adatti, per tanto la loro produzione è soggetta a
            intemperie, sia per la fragilità del prodotto che per la produzione di energia che non supera il 45%
            dell’energia potenziale.
            Il solare Termico, che tende ad essere usato non per la produzione di energia ma di acqua calda, anzi che
            l’uso di impianti a gas.
            Solere Termodinamica (Progetto Archimede), la quale e composta da diversi pannelli che reindirizzano i
            raggi solari in un unico punto (di solito sopraelevato per facilitare il re indirizzamento dei raggi) dove è
            presente un fluido termovettore (Progettato da Carlo Rubbia, fisico italiano, presidente di ENEA i
            collaborazione con un agenzia spagnola, entrambe produttrici di energia elettrica), che, grazie ad uno
            scambiatore termico, trasferisce il calore a dell’acqua che genera vapore, possono raggiungere i 550°C.
          </div>
          <img src="../../assets/img/img1.jpg" alt="Pannelli solari">
        </div>
      </li>
      <li>
        <div class="title">
          Energia Eolica:
        </div>
        <div class="inner-container flx">
          <div class="text">
            l’energia eolica è una delle più antiche, dal VII° secolo d.C. che viene sfruttata (mulini a vento, navi a vela),
            ed al giorno d’oggi la sfruttiamo per produrre energia. Queste turbine eoliche sono dotate di un rotore e tre
            pale eoliche che vengono mosse dal vento, per quanto semplice è il funzionamento, riesce a soddisfare solo
            lo 0,3% del fa bisogno mondiale. La loro “compattezza” gli permette di essere edificare in aree remote
            (isole o aree rurali impervie), in oltre non sono gradite vicino le abitazioni per possibili danni che causano in
            caso di danno all’infrastruttura e generano un forte rumore, motivo per qui vengono posizionati lontani
            dalle abitazioni e dai centri popolati.
          </div>
          <img src="../../assets/img/img2.jpg" alt="Pale eoliche">
        </div>
      </li>
      <li>
        <div class="title">
          Energia Idroelettrica:
        </div>
        <div class="text">
          L’energia Idroelettrica soddisfa il 16% della richiesta giornaliera d’energia.
          Il funzionamento di una centrale idroelettrica è semplice, è una turbina che viene spinta verso il basso
          dall’acqua, di solito per facilitare lo sfruttamento della risorsa si usano dei salti naturali (cascate, fiumi) ma
          molti casi si fa ricorso a edificare dighe, così da sfruttare il processo, ma edificare dighe oltre ad essere
          dispendioso a livello economico, provoca un impatto all’ambiente importante (come la Diga delle tre gole
          in Cina).
        </div>
      </li>
      <li>
        <div class="title">
          Energia Geotermica:
        </div>
        <div class="text">
          Con Energia Geotermica intendiamo un meccanismo che genera una forte forza (vapore acqueo)
          verso l’altro, energia rilasciata in processo di decadimento nucleare, che fa girare una turbina che
          genera energia. Sfortunatamente l’energia Geotermica soddisfa meno dell’1% del fa bisogno
          quotidiano, ma una delle prime dimostrazioni avvenne qua in Italia, grazie a Piero Ginori Conti
          (03/06/1865-03/12/1939, è stato un nobile un imprenditore ed un politico Italiano) che fece edificare
          il primo reattore Geotermico a Lardello (Provincia di Pisa, in Toscana).
        </div>
      </li>
      <li>
        <div class="title">
          Energia ad ardere e biomassa:
        </div>
        <div class="text">
          Con biomassa intendiamo legname, ed è il più antico dei generatori di energia mai artificiali che
          l’essere umano abbia mai usato, ma al giorno d’oggi è sconsigliato per la produzione di scorie come
          fumi ed il consumo di ossigeno, in oltre ha come conseguenza la deforestazione del suolo terrestre,
          che ha come conseguenza meno flora in grado di convertire la CO^2 in O^2.
        </div>
      </li>
    </ul>
  </div>
  <div class="topic">
    <div class="title">
      Fonti non rinnovabili
    </div>
    <ul>
      <li>
        <div class="title">
          Energia Nucleare:
        </div>
        <div class="inner-container flx">
          <div class="text">
            Quando si parla di energia nucleare, si sta parlando della madre di tutte le energie, poiché derivano
            tutte (rinnovabili e non) dal reattore nucleare naturale (il Sole) che tiene ben saldo il nostro sistema
            solare. Grazie Hans Bethe (1906-2005 Fisico, astronomico Tedesco) nel 1938 individuò un ciclo di
            reazioni termonucleari all’origine dell’energia del sole e della maggior parte delle stelle (ciclo di
            Bethe). Individuo il processo che nelle stelle trasforma l’idrogeno in elio, ed il fatto che nelle stelle più
            grandi del sole l’idrogeno aveva bisogno del carbonio per trasformarsi.
          </div>
          <img src="../../assets/img/img3.jpg" alt="Reattore">
        </div>
      </li>
      <li>
        <div class="title">
          Fissione Nucleare:
        </div>
        <div class="text">
          Il fenomeno di fissione nucleare e provocata dalla separazione di un nucleo atomico pesante, la quale
          genera 2 nuclei atomici più piccoli e leggeri, la piccola quantità di massa è in grado di produrre grandi
          quantità di energia (oltre 172 MeV-eletroVolt). Un’ottima alternativa ai combustibili fossili, quello che
          verrebbe prodotto con un grammo di ossido uranio, con il petrolio ne servirebbero 40 mila volte
          tanto. Il minerale viene calato in una vasca d’acqua e grafite che servono in caso di emergenza a
          rallentare il i neutroni provocati dalla razione. In fine il refrigerante (acqua e gas) per assorbire il
          calore, dopo di che la centrale sfrutta il calore provocato come una centrale termoelettrica. Per il
          resto la fusione non provoca scorie aeree (CO^2), solo leggere scorie radioattive, ma inferiori delle
          fonti a energetiche fossili. Uno svantaggio e che ciò che entra in contatto col nocciolo viene investito
          da una gran quantità di radiazioni, in oltre la quantità di uranio a disposizione è minore rispetto al
          carbone e al petrolio, una soluzione sarebbe quella di costruire un reattore autofertilizzante, un
          prototipo e il superphénix (centrale Francese), al momento chiuso per problemi tecnici, qual ora il
          reattore riuscisse a rientrare in funzione si riuscirebbe a produrre molta più energia rispetto a quella
          che produceva la sua predecessore Phénix.
        </div>
      </li>
      <li>
        <div class="title">
          Fusione Nucleare:
        </div>
        <div class="text">
          A differenza della Fissione la Fusione tende ad essere meno stabile come reazione, ma ha come
          vantaggio quello di generare molta più energia, perché una particella leggera (elio) entra in contatto
          con una più grande (idrogeno), stessa reazione che avviene per il sole, ma è dotato di una enorme
          massa di gas che la tiene stretta, chiamata plasma. Negli anni siamo riusciti a produrre anche noi del
          plasma, grazie alla reazione di due isotopi dell’idrogeno, il Deuterio e il Trizio. Ora il problema e il
          tempo di esposizione, la temperatura e la densità del plasma, limiti dettati dal limite di Greenwald…
          Per far fronte comune al problema L’America, la Cina, la Russia, L’Unione Europea, il Giappone, l’india
          e la corea stanno contribuendo alla realizzazione del primo proto-reattore ITER. Primo reattore a
          fusione nucleare, ancora non in funzione, diventerà operativo nel 2037 ed il suo scopo è quello di
          produrre più energia di quella che si possa consumare per avviarlo.
        </div>
      </li>
    </ul>
  </div>
</div>