
.container {
    margin-top: 15%;
    text-align: center;

    .title {
        font-size: 2.9rem;
        font-weight: 700;
        font-family: Roobert, sans-serif;
        margin-bottom: 2%;
    }

    .text {
        font-size: 1.2rem;
        font-weight: 400;
        font-family: Roobert, sans-serif;
        max-width: 900px;
        margin: auto;
    }
}


.first-container {
  margin-top: 15%;
  text-align: center;
  .title{
    font-size: 2.9rem;
    font-weight: 700;
    font-family: Roobert,sans-serif;
  }
  .text {
    margin-top: 2%;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: Roobert,sans-serif;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
  }
}

